<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
		<section name="dataConfiguration"
				 type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>

	<dataConfiguration defaultDatabase="BillPayments" />

	<connectionStrings>
		<add name="BillPayment"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BillPayment;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		<add name="NationalWaterDB"
		 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=NationalWaterDB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	
	
	
	
	
	
	
</configuration>
